<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar Receta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <header class="d-flex justify-content-between mt-3 mb-5">
            <h1>Avistamiento OVNI</h1>
            <div>
                <div><h2 class="d-flex justify-content-end">{{usuario.nombre}} {{usuario.apellido}}</h2></div>
                <div class="d-flex justify-content-end "><a href="/dashboard" class="btn btn-primary">Dashboard</a></div>
                <div class="d-flex justify-content-end"><a href="/logout" class=" btn btn-danger">Cerrar Sesión</a></div>
            </div>
        </header>
        <div class="card">
            <div class="card-header">
                {{suceso.lugar}}  -  {{suceso.fecha}}
            </div>
            <div class="card-body">
                <p>
                    <b>Que sucedió:</b> {{suceso.descripcion}}
                </p>
                <p>
                    <b>Numero de OVNIS:</b> {{suceso.ovnis}}
                </p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Creyentes</th>
                        <th>Escepticos</th>
                    </tr>
                </thead>
                <!-- condicional for para recorrer todos los avistamientos -->
                <tbody>
                    <tr>
                        <td>
                            <ul>
                            {%for x in usuarios_si%}
                                {% if suceso.id == x["suceso_id"] %}
                                    <li>{{x["nombre_usuario"]}}</li>
                                {% endif %}
                            {%endfor%}
                           </ul>
                        </td>
                        <td>
                            <ul>
                                {%for x in usuarios_no%}
                                    {% if suceso.id == x["suceso_id"] %}
                                        <li>{{x["nombre_usuario"]}}</li>
                                    {% endif %}
                                {%endfor%}
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            {%if estado == 0 %}
            <h2>Estado 0</h2>
            {%endif%}
            {%if estado == 1 %}
            <h2>Estado 1</h2>
            {%endif%}
            {%if estado == 2 %}
            <h2>Estado 2</h2>
            {%endif%}
            <div class="row">
                {%if estado == 2 %}
                <form action="/like" method="POST" class="col">
                    <input type="hidden" name="usuario_id" value="{{usuario.id}}">
                    <input type="hidden" name="suceso_id" value="{{suceso.id}}">
                    <input type="hidden" name="estado" value="si">
                    <input type="submit" value="Creo" class="btn btn-primary mt-3" >
                </form>
                {%endif%}
                {%if estado == 1 %}
                <form action="/like" method="POST" class="col" >
                    <input type="hidden" name="usuario_id" value="{{usuario.id}}">
                    <input type="hidden" name="suceso_id" value="{{suceso.id}}">
                    <input type="hidden" name="estado" value="no">
                    <input type="submit" value="No Creo" class="btn btn-danger mt-3" >
                </form>
                {%endif%}
                {%if estado == 0 %}
                <form action="/like" method="POST" class="col">
                    <input type="hidden" name="usuario_id" value="{{usuario.id}}">
                    <input type="hidden" name="suceso_id" value="{{suceso.id}}">
                    <input type="hidden" name="estado" value="si">
                    <input type="submit" value="Creo" class="btn btn-primary mt-3" >
                </form>
                <form action="/like" method="POST" class="col" >
                    <input type="hidden" name="usuario_id" value="{{usuario.id}}">
                    <input type="hidden" name="suceso_id" value="{{suceso.id}}">
                    <input type="hidden" name="estado" value="no">
                    <input type="submit" value="No Creo" class="btn btn-danger mt-3" >
                </form>
                {%endif%}

                <div class="col-10"></div>
            </div>
            </div>
            <div class="card-footer">
                Publicado por: {{suceso.nombre_usuario}}
            </div>
        </div>
    </div>
</body>
</html>